.row {
    padding: 20px;
}

div {
    background-color: #a1b5cb;
}

/* .container {
    display: flex;
} */


/* Estilo de la foto de perfil */

@media (min-width: 576px) {
    #fotodeperfil {
        position: absolute;
        width: 15%;
        border-radius: 30%;
        box-shadow: 3px 3px 3px gray;
        left: 2%;
        top: 600px;
    }
}

@media (max-width: 820px) {
    #fotodeperfil {
        position: absolute;
        width: 16%;
        border-radius: 30%;
        box-shadow: 3px 3px 3px grey;
        left: 1%;
        top: 400px;
    }
}

@media (max-width: 575px) {
    #fotodeperfil {
        position: absolute;
        width: 30%;
        border-radius: 30%;
        box-shadow: 3px 3px 3px gray;
        left: 36%;
        top: 256px;
    }
}

/* Estilo del nombre */
#nombre {
    font-weight: bold;
    margin-top: 30%;
}